$main-font: 'Montserrat', sans-serif;
$second-font: 'Tahoma', sans-serif;
$accent-color: #ff6b08;
$white-color: #fff;
$grey-first: #9f9f9f;
$grey-second:#546264;
$white-dark-color: #f1f1f1;
$dark-color-first:#111517;
$dark-color-second: #18191d;
$logo-dark-color: #000000;
$light-color: #fdfefe;
$green-color:rgb(32, 206, 9);