.hidden{
    display: none;
}
.list-render{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(136, 170, 102);
    padding-top: 30px;
    padding-bottom: 30px;
}
.homepage-list__li{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
    background-color: chartreuse;
}
.search__form{
    width: 60%;
    height: 80px;
    margin: 0 auto;
}
.js-btn-watched--active{
    background-color: cyan;
} 
.js-btn-queue--active{
    background-color: cyan;
}